*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
  background-color: #2b2d2e;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Apple Chancery, cursive;
}

.App {
  max-width: 75vw;
}

.App .Logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .Logo img {
  width: 4rem;
  height: 4rem;
  filter: grayscale(35%);
}

.App .Titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f4266;
  font-size: 1rem;
}

.App .carousel{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 85%;
  overflow: hidden;
  margin-left: 7%;
}

.App .carousel ::-webkit-scrollbar {
  display: none;
}

.App .carousel .Pokemon{
  padding: 10px;
  margin: 20px;
  display: grid;
  grid-column: auto;
  text-align: center;
  justify-content: center;
  background-color: #1f2736;
  border-radius: 5%;
  width: 255px;
  height: 420px;
  flex: none;
}

.App .carousel .Pokemon .id span{
  background-color: #c4c4c4;
  border-radius: 100%;
  padding: 7px;
  font-size: 15px;
  font-weight: bold;
}

.App .carousel .Pokemon .image img {
  width: 90%;
  height: 70%;
  background-color: rgba(221, 221, 221, 0.616);
  border-radius: 5%;
}

.App .carousel .Pokemon .Name{
  background-color: #c4c4c4;
  width: 10px;
  border-radius: 5%;
  padding:  15px 50px 50px;
}

.App .buttons button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.App .buttons button :hover{
  filter: brightness(150%);
}

.App .buttons{
  width: 100%;
  text-align: center;
}